#showLEDId {
	font-size: 12px;
	font-family: Tahoma, Helvetica, Arial, "ו", sans-serif;
	margin: 0px auto;
	text-align: left;
}

#showLEDId fieldset {
	border: 1px solid #FEE4CC;
	padding: 10px;
	margin-top: 3px;
}

#showLEDId fieldset legend {
	color: #1E7ACE;
	font-weight: bold;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#showLEDId .LEDShow_spancolor {
	color: red;
}

#showLEDId .LEDShow_spancolor1 {
	color: #ffffff;
}
.con_2 {
	width: 100%;
	margin-top: 0px;
	margin-left: 0px;
	border: 0px solid #000;
	overflow: hidden;
	min-height:80px;
	max-height:1080px;
	position: relative;
}