/**
 * zj.main.css
 * @author wengsh
 * @date 2012-5-14
 * @use 职介网css
 */
 @CHARSET "UTF-8"; 
 
body {
	font-size: 12px;
	font-family: Tahoma, Helvetica, Arial, "宋体", sans-serif;
	margin: 0px auto;
	text-align: center;
}

table {
	font-size: 12px;
	text-align: left;
	word-break: break-all;
}

a {
	text-decoration: none;
	color: #1e69bc;
}

a:hover {
	color: #CB3500;
}

form {
	margin: 5px 0px;
}

input {
	width: 191px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #c4d5df;
	margin-right: 10px;
}

select {
	width: 197px;
	height: 24px;
	line-height: 24px;
	border: 1px solid #c4d5df;
	margin-right: 10px;
}

textarea {
	border: 1px solid #c4d5df;
}

em {
	color: red;
	font-weight: bold;
	height: 16px;
	line-height: 16px;
	text-align: left;
}

fieldset {
	border: 1px solid #c4d5df;
	padding: 0px;
	margin-top: 3px;
}

fieldset legend {
	color: #1E7ACE;
	font-weight: bold;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom:5px;
}

.queryResult {
    min-height: 500px;
    width:100%;
    padding-bottom: 20px;
}

.querytable {
	width:100%;
	border-spacing: 0px;
	text-align: center;
	vertical-align: top;
	border: 1px solid #c4d5df;
	margin: 5px 0px;
	border-collapse: collapse;
	overflow: scroll;
}

.querytable th,.querytable td {
	height: 22px;
	line-height:22px;
	border: 1px solid #eee;
	padding: .2em 3px;
	text-align: left;
}

.querytable .checked {
	border: 0;
	width: 20px;
}

.querytable th {
	color: #996600;
	background-color:#E4F5FF;
	height: 28px;
	text-align: left;
}
.hover{
   border: 1px outset red;
}
/* 输入控件验证出错warpper*/
form li,li {
	list-style: none;
	list-style-position: outside;
}

/* 输入控件验证出错*/
form input.error {
	background-color: #ffffd5;
	margin: 0px;
	color: #FF0000;
}

/* 验证错误提示信息*/
form label.error {
	font-style: italic;
	color: #FF0000;
}

/* 验证错误提示信息*/
.error {
	font-style: italic;
	color: #FF0000;
}

.label {
	background-color: #eef9ff;
	color: #1e69bc;
	line-height: 24px;
	font-weight: bold;
	width: 120px;
	text-align: left;
}

.label_r {
	background-color: #ffffff;
}


.btn {
	height: 25px;
	width: 65px;
	text-align: center;
	font-weight: bold;
	color: #DDF3FE;
	font-family: "宋体";
	font-size: 12px;
	background-color: #0083CA;
	border-bottom: 1px outset #D9F4FF;
	border-left: 1px outset #D9F4FF;
	border-right: 1px solid #D9F4FF;
	border-top: 1px solid #D9F4FF;
	cursor: pointer;
}
.btn_p {
	height: 25px;
	width: 88px;
	text-align: center;
	font-weight: bold;
	color: #DDF3FE;
	font-family: "宋体";
	font-size: 12px;
	background-color: #0083CA;
	border-bottom: 1px outset #D9F4FF;
	border-left: 1px outset #D9F4FF;
	border-right: 1px solid #D9F4FF;
	border-top: 1px solid #D9F4FF;
	cursor: pointer;
}
 
.right_area{
   position:fixed;
   right: 0px;
   top:300px;
   filter: Alpha(Opacity =80);
   opacity: 0.8;
   z-index: 10;
}
.bottom_area
{
   position:fixed;
   bottom: 0px;
   left:190px;
   text-align: center;
}
.fileinfo{
  cursor: pointer;
}
 
.scrollDiv {
	overflow: hidden;
	width: 1080px;
	
}
.scrollDiv table{
	width: 1080px;
	border-spacing: 0px;
	border-collapse:collapse;
	text-align: left;
	vertical-align: top;
	border-top: 1px solid #c4d5df;
	border-bottom: 1px solid #c4d5df;
	overflow: hidden;
	font-size: 12px;
}
.scrollDiv table tr,table th {
	height: 30px;
	font-size:20px;
}
.scrollDiv table td {
	height: 30px;
	font-size:20px;
	border: 1px solid #c4d5df;
}
.scrolltable {
   margin: 0 10px;
}
.pageview{
	float:left;
}
.horpageview{ 
    padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
.text_content{
    text-align:left;
    background-color: #FFFFFF;
}
.c1_title {
	font-size: 40px;
    font-family: '微软雅黑';	
	font-weight: bold;
	color: #990000;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.c1_content {
	line-height: 22px;
	padding-top: 20px;
	padding-bottom: 20px;
	overflow:hidden;
	width:100%
}
.floatdiv{
    width:120px;
	top:500px;
	left: 0px;
	position: fixed;
	background-color: #ffffff;
	filter: Alpha(Opacity =98);
	opacity: 0.8;
	z-index: 10;
	cursor: pointer;
	padding: 5px;
	line-height: 18px;
}
.divfont{
    width:120px;
	top:570px;
	left: 30px;
	position: fixed;
	filter: Alpha(Opacity =98);
	opacity: 0.5;
	z-index: 50;
	cursor: pointer;
	padding: 5px;
	line-height: 18px;
}
 .divfont_right{
        width:90px;
	top:570px;
	right: 20px;
	position: fixed;
	filter: Alpha(Opacity =98);
	opacity: 0.5;
	z-index: 50;
	cursor: pointer;
	padding: 5px;
	line-height: 18px;
}
.floatdiv_right{
    width:120px;
	top:500px;
	right: 0px;
    position: fixed;
	background-color: #ffffff;
	filter: Alpha(Opacity =98);
	opacity: 0.8;
	z-index: 10;
	cursor: pointer;
	padding: 5px;
	line-height: 18px;
}
.list_style1 {
    overflow: hidden; 
}
.list_style1 tr{
    line-height: 30px;
    height:30px;
	border-bottom: 1px dotted #c3c3c3;
}
.part_01{
	width: 1000px;
	line-height: 28px;
	background-color: #f5fafd;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 40px;
	padding-right: 40px;
	padding-bottom: 20px;
	padding-left: 40px;
}
.part_01_title{
	font-family: "幼圆";
	color: #990000;
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 25px;
}
.part_02{
	width: 1080px;
	background-color: #FFFFFF;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;
	}
.part_02_pic{
	border: 4px solid #CCCCCC;
	padding: 1px;
	margin-bottom: 15px;
}
.part_03{
	width: 1080px;
	background-color: #FFFFFF;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}
.part_03_line{
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #999999;
	margin-bottom: 25px;
}
.part_03_title{
	font-weight: bold;
	color: #0066b3;
	background-color: #e9f2fa;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
}
.part_04{
	background-color: #FFFFFF;
	width: 1080px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.slides{
	height: 100%;
}